body {
    text-align: center;
    padding-top: 9vh;
    padding-bottom: 10vh;
    margin: 0;
    background-color: black;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    left: 0;
    background: #34495e;
    display: flex;
    flex-direction: row;
    z-index: 100;
}
a {
    margin: 0;
    padding: 0;
    border: none;
}

.left-section {
    width: 500px;
    text-align: center;
}
.middle-section {
    flex: 1;
}
.right-section {
    width: 650px;
}
.swa-logo {
    height: 79px;
    border-radius: 50px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}
.school-name {
    font-size: 30px;
    color: white;
    font-family: montserrat;
    display: inline-block;
    vertical-align: middle;
}
ul {
    display: flex;
    list-style: none;
}

img a:hover {
    display: none;
    border: none;
}

ul a {
    text-decoration: none;
    color: white; 
    margin-left: 20px;
    font-size: 20px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    margin-top: 10px;
}
.home {
    border: solid;
    border-width: 1px;
}
a.active,
a:hover:not(.home) {
    border: 1px solid white;
    transition: 1s;
}

@media (max-width: 900px) {
    .school-name {
      display: none; 
    }
}

.upper-section {
    z-index: 1;
    background: linear-gradient(-45deg, red, yellow, green);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.marquee-container {
    margin-left: 21vw;
    margin-top: 3vh;
    width: 900px;
    
}
.marquee {
    font-size: 50px;
    font-weight: 300;
    font-family: montserrat;
    margin-top: 5vh;
}
.upper-first {
    margin-top: 5vh;
}
.upper-first img {
    height: 35vh;
    border-radius: 500px;
}
.upper-first p {
    font-size: 7vh;
    margin-top: 3vh;
    margin-bottom: 0;
}

.cap {
    font-size: 35px;
    color: white;
}
.lower-section {
   width: 100vw;
   text-align: left;
}

.lower-section div {
    margin-top: 4vh;
    margin-left: 10vw;
}
.lower-section img {
    height: 200px;
    width: 330px;
    display: flex;
    border-radius: 25px;
    transition: transform 1s;
}

.lower-section p {
    color: white;
    font-size: 25px;
    display: flex;
    padding-bottom: 2px;
    margin-bottom: 0;
    margin-left: 0;
}
.lower-section img:hover {
    transform: scale(1.2);
}